<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div class="container" style="text-align: center;">
      <div class="col-md-1.5"> <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a></div>
      <div class="col-md-1.5"><a class="nav-link" routerLink="./About">About</a></div>
      <div class="col-md-1.5"><a class="nav-link" routerLink="./contactus">Contact us</a></div>
      <div class="col-md-1.5"><a class="nav-link" routerLink="./enguiry ">inquiry</a></div>
      <div class="col-md-1.5"><a class="nav-link" routerLink="./studentdetail ">Absent Students</a></div>
      <div class="col-md-1.5"><a class="nav-link" routerLink="./faculties">Faculty</a></div>
      <div class="col-md-1.5"><a class="nav-link" routerLink="./project">Project</a></div>
    
     
    </div>
    
   

  </nav>
</div>

