<div class="row">
    <div class="col-md-3">
        <img src=""/>
        <h3>Dr. Nilesh Gambhava</h3>
        <h5>Professor</h5>
       <hr>
        <h5>Ph.D , M.E. (CE)</h5>
    </div>
    <div class="col-md-9">
        <h1>Professor ( {{ id }} )</h1>
    <hr>
        <p>Dr. Dr. Nilesh Gambhava is working as a professor at Computer Engineering Department. He has pursued B.E. from GCET, Vallabh Vidyanagar in 2001 and M.E. from BVM, Vallabh Vidyanagar in 2004. He was awarded Gold Medal in M.E. at Sardar Patel University. He has completed Ph.D. from Nirma University in the area of "Web Mining in Social Networking". He is in charge of the placement cell at the institute. He is actively guiding various web and application development projects at ASWDC in the Department. Dr. Gambhava is coordinating various engineering admission activities and awareness seminars. He has designed and developed more than 25 software and ERP systems for many reputed companies.</p>
        <table width="100%">
            <tr>
                <td>Area Of Specialization</td>
                <td>Genetic Algorithm, Web Mining, Social Networking</td>
            </tr>

            <tr>
                <td>Area Of Specialization</td>
                <td>Genetic Algorithm, Web Mining, Social Networking</td>
            </tr>

            <tr>
                <td>Area Of Specialization</td>
                <td>Genetic Algorithm, Web Mining, Social Networking</td>
            </tr>

            <tr>
                <td>Area Of Specialization</td>
                <td>Genetic Algorithm, Web Mining, Social Networking</td>
            </tr>
        </table>
    </div>
</div>
