<!-- <p>project works!</p> -->


<table class="table table-bordered">
<tr>
    <td><h2>Status</h2></td>
    <td><h2>{{ oo }}</h2></td>
</tr>
<tr>
    <td><h2>Number Of Pages</h2></td>
    <td><h2>{{a}}</h2></td>
</tr>
<tr>
    <td><h2>Subject Place</h2></td>
    <td><h2>{{ b }}</h2></td>
</tr>
<tr>
    <td><h2>Covers</h2></td>
    <td><h2>{{ c }}</h2></td>
</tr>

<tr>
    <td><h2>LC Classification</h2></td>
    <td><h2>{{ d }}</h2></td>
</tr>

<tr>
    <td><h2>Latest Revision</h2></td>
    <td><h2>{{ e }}</h2></td>
</tr>

<tr>
    <td><h2>Genres</h2></td>
    <td><h2>{{ f }}</h2></td>
</tr>

<tr>
    <td><h2>Source Records</h2></td>
    <td><h2>{{ g }}</h2></td>
</tr>

<tr>
    <td><h2>Title</h2></td>
    <td><h2>{{ h }}</h2></td>
</tr>

<tr>
    <td><h2>Languages</h2></td>
    <td><h2>{{ i }}</h2></td>
</tr>

<tr>
    <td><h2>Subjects</h2></td>
    <td><h2>{{ j }}</h2></td>
</tr>

<tr>
    <td><h2>Publish Country</h2></td>
    <td><h2>{{ k }}</h2></td>
</tr>

<tr>
    <td><h2>Publish By</h2></td>
    <td><h2>{{ l }}</h2></td>
</tr>

<tr>
    <td><h2>OCLC Number</h2></td>
    <td><h2>{{ m }}</h2></td>
</tr>

<tr>
    <td><h2>Type</h2></td>
    <td><h2>{{ n }}</h2></td>
</tr>

<tr>
    <td><h2>Revision</h2></td>
    <td><h2>{{ o }}</h2></td>
</tr>

<tr>
    <td><h2>Publisher</h2></td>
    <td><h2>{{ p }}</h2></td>
</tr>

<tr>
    <td><h2>Last Modified</h2></td>
    <td><h2>{{ q }}</h2></td>
</tr>

<tr>
    <td><h2>Key</h2></td>
    <td><h2>{{ r }}</h2></td>
</tr>

<tr>
    <td><h2>Author</h2></td>
    <td><h2>{{ s }}</h2></td>
</tr>

<tr>
    <td><h2>Publish Place</h2></td>
    <td><h2>{{ t }}</h2></td>
</tr>

<tr>
    <td><h2>Pagination</h2></td>
    <td><h2>{{ u }}</h2></td>
</tr>

<tr>
    <td><h2>Created</h2></td>
    <td><h2>{{ v }}</h2></td>
</tr>

<tr>
    <td><h2>Deway Decimal class</h2></td>
    <td><h2>{{ w }}</h2></td>
</tr>

<tr>
    <td><h2>Notes</h2></td>
    <td><h2>{{ x }}</h2></td>
</tr>

<tr>
    <td><h2>Identifier</h2></td>
    <td><h2>{{ y }}</h2></td>
</tr>

<tr>
    <td><h2>LCCN</h2></td>
    <td><h2>{{ z }}</h2></td>
</tr>

<tr>
    <td><h2>ISBN Number</h2></td>
    <td><h2>{{ aa }}</h2></td>
</tr>

<tr>
    <td><h2>Publish Date</h2></td>
    <td><h2>{{ ab }}</h2></td>
</tr>

<tr>
    <td><h2>Works</h2></td>
    <td><h2>{{ ac }}</h2></td>
</tr>


</table>