<div class="jumbotron">
  <div class="container"><h3>Project By - Mit Suchak(180540107164)</h3></div>
    <br>
    
   
    <div class="container">
   
  
    <div col-md-4><h5>Semester - 4</h5></div>
    <div col-md-4> <h5>Class - Cz</h5></div>
    <div col-md-4><h5>Roll Number - 350</h5></div>
    
    
   
   
  </div>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>